<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
input[type=text], select, textarea {
width: 100%;
padding: 8px;
border: 1px solid rgb(204, 204, 204);
margin-top: 8px;
margin-bottom: 10px;
}
input[type=submit] {
background-color:rgb(0, 68, 255);
padding: 6px 12px;
}
.container {
width:90%;
border-radius: 6px;
background-color: #EFF6F6;
padding: 10px;
}
</style>
</head>
<body>
<h3>We welcome your suggestions</h3>

<div class="container">
<form name="passdata" action="." method="post">
<label for="fname">First Name</label>
<input type="text" id="fname" name="firstname" placeholder="Enter Your name"><br>
<label for="lname">Last Name</label>
<input type="text" id="lname" name="lastname" placeholder="Enter Your last name"><br>
<label for="ename">Email</label>
<input type="text" id="ename" name="email" placeholder="Enter Your Email here"><br>
<label for="mobno">Contact No</label>
<input type="text" id="mobno" name="mobno" placeholder="Enter Your Contact Number"><br>
<label for="subject">Feedback</label>
<textarea id="subject" name="subject" placeholder="Give your feedback
"style="height:50px"></textarea><br>
<input type="submit" value="Send">
</form>
</div>
</body>
</html>